.idea/

app/

vendor/
!vendor/.htaccess

html/uploads/*
!html/uploads/.gitkeep

html/public/*

# Eclipse
/.classpath
/.loadpath
/.metadata/
/.project
/.settings/
/bin/
/build/

# Nightwatch
/ui/nightwatch
/ui/logs
/ui/tests_output

# Tive GraphQL test
tive_graphql_test/output
tive_graphql_test/mutation_output
